* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

body {
  overflow-x: hidden; }

html {
  font-size: 65.5%; }

html {
  scroll-behavior: smooth; }

ul {
  list-style: none; }

a {
  color: white; }

a:hover {
  color: white; }

.homePage-master {
  height: 97vh;
  width: 100vw; }
  .homePage-master__img {
    height: 3rem; }
  .homePage-master__bottom {
    height: 81vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 13%; }
    .homePage-master__bottom--h1 {
      justify-content: flex-start;
      align-items: center;
      color: white;
      font-size: 5.2rem;
      letter-spacing: 0.8rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 700;
      line-height: 5.2rem;
      padding-bottom: 3rem; }
    .homePage-master__bottom--p {
      color: white;
      font-size: 2rem;
      letter-spacing: 0.2rem;
      max-width: 62ch;
      font-family: 'Work Sans', sans-serif;
      font-weight: 500;
      line-height: 2.8rem;
      padding-bottom: 3rem; }
    .homePage-master__bottom--started {
      list-style-position: inside;
      border: 2px solid white;
      padding: 1.5rem;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      color: white;
      font-size: 1.4rem;
      letter-spacing: 0.4rem;
      background: none;
      cursor: pointer; }
  .homePage-master__quote {
    border: 2px solid white;
    margin-left: 3rem;
    margin-top: 0.2rem;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: white; }
  .homePage-master__active {
    color: white; }
  .homePage-master__hr {
    color: white;
    margin-top: 5px; }
  .homePage-master__nav li:hover {
    opacity: 70%; }
  .homePage-master__quote:hover {
    opacity: 100%; }

.homePage-container {
  height: 100%;
  width: 100%;
  background: url(../img/landing.jpg);
  background-color: lightslategrey;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 90%; }

@media (max-width: 600px) {
  .homePage-master {
    height: 100vh; }
    .homePage-master__img {
      height: 2.8rem; }
    .homePage-master__bottom {
      height: 81vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-left: 0%;
      padding-bottom: 4rem; }
      .homePage-master__bottom--h1 {
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 3rem;
        text-align: center;
        letter-spacing: 0.8rem;
        line-height: 4rem;
        padding-bottom: 7rem; }
      .homePage-master__bottom--p {
        display: none; }
      .homePage-master__bottom--started {
        list-style-position: inside;
        border: 2px solid white;
        padding: 3rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        color: white;
        font-size: 1.4rem;
        letter-spacing: 0.4rem;
        margin-top: 2rem; }
    .homePage-master__quote {
      border: 2px solid white;
      margin-left: 3rem;
      margin-top: 0.6rem;
      letter-spacing: 0.2rem;
      font-size: 1.2rem;
      font-family: 'Work Sans', sans-serif;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem; }
    .homePage-master__active {
      color: white; }
    .homePage-master__hr {
      color: white;
      margin-top: 5px; }
    .homePage-master__nav li:hover {
      opacity: 70%; }
    .homePage-master__quote:hover {
      opacity: 100%; } }
@media (min-width: 601px) and (max-width: 1023px) {
  .homePage-master__img {
    height: 3rem; }
  .homePage-master__bottom {
    height: 81vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0%;
    padding-bottom: 4rem; }
    .homePage-master__bottom--h1 {
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 3rem;
      text-align: center;
      letter-spacing: 0.8rem;
      line-height: 4rem;
      padding-bottom: 7rem; }
    .homePage-master__bottom--p {
      display: none; }
    .homePage-master__bottom--started {
      list-style-position: inside;
      border: 2px solid white;
      padding: 3rem;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      color: white;
      font-size: 1.4rem;
      letter-spacing: 0.4rem;
      margin-top: 2rem; }
  .homePage-master__quote {
    border: 2px solid white;
    margin-left: 3rem;
    margin-top: 0.6rem;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  .homePage-master__active {
    color: white; }
  .homePage-master__hr {
    color: white;
    margin-top: 5px; }
  .homePage-master__nav li:hover {
    opacity: 70%; }
  .homePage-master__quote:hover {
    opacity: 100%; } }
.header {
  height: 3rem;
  width: 100vw;
  background: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5rem; }
  .header__items {
    display: flex;
    padding-right: 5rem; }
    .header__items--img {
      height: 1.6rem;
      margin-top: 0.9rem; }
    .header__items--p {
      font-size: 1.1rem;
      padding: 1rem;
      letter-spacing: 0.2rem;
      font-family: 'Work Sans', sans-serif;
      font-weight: 400;
      color: #545454; }
  .header__items2 {
    display: flex; }
    .header__items2--img {
      height: 1.6rem;
      margin-top: 0.8rem; }
    .header__items2--p {
      font-size: 1.1rem;
      padding: 1rem;
      letter-spacing: 0.2rem;
      font-family: 'Work Sans', sans-serif;
      font-weight: 400;
      color: #545454; }

.navBar {
  height: 10rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 4%;
  padding-top: 1rem; }

.navBar--ul {
  list-style-type: none;
  display: flex; }

.navBar--li {
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  font-size: 1.4rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold; }

.navBar--projects {
  height: 10rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 4%;
  background: url(../img/8209158541_4a6fa1d66b_b.jpg);
  background-color: darkgrey;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 80%;
  padding-top: 1rem; }

.navBar--hamburger {
  height: 2rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  cursor: pointer;
  margin-top: 1%;
  margin-right: 4%;
  display: none; }

.nav-mobile {
  height: 20rem;
  width: 40%;
  margin-left: 60%;
  background: #212123;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; }
  .nav-mobile__ul {
    list-style: none;
    background: none; }
  .nav-mobile__li {
    padding: 2rem;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 0.2rem;
    background: none; }
  .nav-mobile__li:hover {
    color: #dadada; }

@media (max-width: 600px) {
  .header {
    display: none; }

  .navBar--ul {
    display: none; }

  .navBar--hamburger {
    display: block; } }
@media (min-width: 601px) and (max-width: 1023px) {
  .navBar--ul {
    display: none; }

  .navBar--hamburger {
    display: block; } }
.aboutPage-container {
  height: 40rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.aboutPage__right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.aboutPage__right--img {
  height: 80%;
  padding: 2rem;
  padding-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center; }

.aboutPage__left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10%; }
  .aboutPage__left--heading {
    font-size: 3.4rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: #82191E;
    letter-spacing: 0.4rem;
    padding-bottom: 2.8rem;
    max-width: 30ch; }
  .aboutPage__left--subHeading {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    max-width: 42ch;
    padding-bottom: 2.8rem; }
  .aboutPage__left--text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    max-width: 60ch; }

@media (max-width: 600px) {
  .aboutPage-container {
    height: 70rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }

  .aboutPage__right {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem; }

  .aboutPage__right--img {
    height: 80%;
    padding-bottom: 0rem;
    padding-right: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center; }

  .aboutPage__left {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0%;
    padding-top: 1rem; }
    .aboutPage__left--heading {
      font-size: 3.2rem;
      letter-spacing: 0.4rem;
      padding-bottom: 2.8rem;
      max-width: 24ch;
      text-align: center; }
    .aboutPage__left--subHeading {
      font-size: 1.8rem;
      text-align: center; }
    .aboutPage__left--text {
      font-size: 1.3rem;
      text-align: center;
      max-width: 50ch; } }
@media (min-width: 601px) and (max-width: 1023px) {
  .aboutPage-container {
    height: 65rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }

  .aboutPage__right {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem; }

  .aboutPage__right--img {
    height: 90%;
    padding: 2rem;
    padding-right: 0%;
    display: flex;
    justify-content: center;
    align-items: center; }

  .aboutPage__left {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0%;
    padding-top: 1rem; }
    .aboutPage__left--heading {
      font-size: 3.2rem;
      letter-spacing: 0.4rem;
      padding-bottom: 2.8rem;
      max-width: 24ch;
      text-align: center; }
    .aboutPage__left--subHeading {
      font-size: 1.8rem;
      text-align: center; }
    .aboutPage__left--text {
      font-size: 1.3rem;
      text-align: center; } }
.servicePage-container {
  height: 70rem;
  width: 100vw;
  display: flex;
  background: url(../img/pratt-city-ala-september-13-2011-a-crane-lifts-the-trusses-for-frank-hardys-4ef4f4-1600.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .servicePage-container--left {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 4rem; }
    .servicePage-container--left__ul {
      padding-top: 4rem; }
    .servicePage-container--left__ul--li1 {
      height: 5rem;
      width: 37rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      text-align: center;
      background: #82191E;
      letter-spacing: 0.2rem;
      font-family: 'Work Sans', sans-serif;
      font-size: 1.4rem;
      margin-bottom: 0.6rem; }
    .servicePage-container--left__ul--li {
      height: 5rem;
      width: 37rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      text-align: center;
      background: #212123;
      letter-spacing: 0.2rem;
      font-family: 'Work Sans', sans-serif;
      font-size: 1.4rem;
      margin-bottom: 0.6rem; }
  .servicePage-container hr {
    margin-left: 7rem;
    width: 50%; }
  .servicePage-container--right {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 6rem; }
    .servicePage-container--right__h1Container {
      height: 7rem;
      width: 80%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background: #82191E;
      margin-left: 8.2rem; }
      .servicePage-container--right__h1Container--h1 {
        color: white;
        font-size: 2.6rem;
        letter-spacing: 0.6rem;
        padding: 2%;
        font-family: 'Josefin Sans', sans-serif; }
    .servicePage-container--right__pContainer {
      height: 10rem;
      width: 80%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background: #212123;
      margin-left: 8.2rem; }
      .servicePage-container--right__pContainer--p {
        color: white;
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
        text-align: right;
        padding: 2%;
        font-family: 'Work Sans', sans-serif; }

@media (max-width: 600px) {
  .servicePage-container {
    display: none; } }
@media (min-width: 601px) and (max-width: 1023px) {
  .servicePage-container {
    height: 62rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between; }
    .servicePage-container--left {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 2rem;
      padding-top: 2rem; }
      .servicePage-container--left__ul {
        padding-top: 0rem; }
      .servicePage-container--left__ul--li1 {
        height: 4rem;
        width: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        text-align: center;
        background: #82191E;
        letter-spacing: 0.2rem;
        font-family: 'Work Sans', sans-serif;
        font-size: 1.4rem;
        margin-bottom: 0.6rem; }
      .servicePage-container--left__ul--li {
        height: 4rem;
        width: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        text-align: center;
        background: #212123;
        letter-spacing: 0.2rem;
        font-family: 'Work Sans', sans-serif;
        font-size: 1.4rem;
        margin-bottom: 0.6rem; }
    .servicePage-container--right {
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      padding-bottom: 4rem; }
      .servicePage-container--right__h1Container {
        height: 7rem;
        width: 82%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background: #82191E;
        margin-left: 0rem; }
        .servicePage-container--right__h1Container--h1 {
          color: white;
          font-size: 2.6rem;
          letter-spacing: 0.6rem;
          padding: 2%;
          font-family: 'Josefin Sans', sans-serif;
          text-align: right; }
      .servicePage-container--right__pContainer {
        height: 13rem;
        width: 82%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background: #212123;
        margin-left: 0rem; }
        .servicePage-container--right__pContainer--p {
          color: white;
          font-size: 1.3rem;
          letter-spacing: 0.2rem;
          text-align: right;
          padding: 2%;
          font-family: 'Work Sans', sans-serif; } }
.aboutPageSecond-container {
  height: 45rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.aboutPageSecond__left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.aboutPageSecond__left--img {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.aboutPageSecond__right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 1rem; }
  .aboutPageSecond__right--heading {
    font-size: 3.4rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: #82191E;
    padding-bottom: 2.8rem;
    letter-spacing: 0.4rem; }
  .aboutPageSecond__right--subHeading {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    max-width: 42ch;
    padding-bottom: 2.8rem; }
  .aboutPageSecond__right--text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    padding-bottom: 2.8rem;
    letter-spacing: 0.2rem;
    max-width: 56ch; }
  .aboutPageSecond__right--h3 {
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    padding-bottom: 1.5rem;
    letter-spacing: 0.1rem; }
  .aboutPageSecond__right--iconRow {
    display: flex;
    padding-left: 22px; }
  .aboutPageSecond__right--icons {
    height: 25px;
    padding-right: 22px; }

@media (max-width: 600px) {
  .aboutPageSecond-container {
    height: 60rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; }

  .aboutPageSecond__left {
    display: none; }

  .aboutPageSecond__right {
    padding-left: 0rem; }
    .aboutPageSecond__right--heading {
      font-size: 3.2rem;
      text-align: center;
      max-width: none; }
    .aboutPageSecond__right--subHeading {
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
      max-width: none;
      text-align: center; }
    .aboutPageSecond__right--text {
      font-family: 'Work Sans', sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      padding-bottom: 2.8rem;
      letter-spacing: 0.2rem;
      max-width: none;
      text-align: center; }
    .aboutPageSecond__right--h3 {
      font-size: 1.5rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: normal;
      padding-bottom: 1.5rem;
      letter-spacing: 0.1rem;
      text-align: center;
      padding-left: 27%; }
    .aboutPageSecond__right--iconRow {
      display: flex;
      padding-left: 37%; }
    .aboutPageSecond__right--icons {
      height: 25px;
      padding-right: 22px; } }
@media (min-width: 601px) and (max-width: 1023px) {
  .aboutPageSecond-container {
    height: 32rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white; }

  .aboutPageSecond__left {
    display: none; }

  .aboutPageSecond__right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-left: 0rem; }
    .aboutPageSecond__right--heading {
      font-size: 3.4rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 700;
      color: #CF2730;
      padding-bottom: 2.8rem;
      letter-spacing: 0.4rem; }
    .aboutPageSecond__right--subHeading {
      font-family: 'Work Sans', sans-serif;
      font-weight: 600;
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
      max-width: 50ch;
      padding-bottom: 2.8rem;
      text-align: center; }
    .aboutPageSecond__right--text {
      font-family: 'Work Sans', sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      padding-bottom: 2.8rem;
      letter-spacing: 0.2rem;
      max-width: 56ch;
      text-align: center; }
    .aboutPageSecond__right--h3 {
      display: none; }
    .aboutPageSecond__right--iconRow {
      display: none; } }
.credentials-container {
  height: 22rem;
  width: 100%;
  background: url(../img/safety.jpeg);
  background-color: grey;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .credentials-container__img {
    height: 60%; }

@media (max-width: 600px) {
  .credentials-container {
    display: none; } }
.footer-container {
  height: 20rem;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #212123; }
  .footer-container__logo-img {
    height: 5rem; }
  .footer-container__button {
    border-style: solid;
    color: white;
    background: black; }
  .footer-container__p {
    color: white;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    padding-bottom: 2px;
    font-family: 'Work Sans', sans-serif; }
  .footer-container__h1 {
    color: white;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    font-weight: normal;
    font-family: 'Work Sans', sans-serif; }
  .footer-container__row1 {
    display: flex;
    flex-direction: column; }
  .footer-container__row3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .footer-container__row3--top {
      padding-bottom: 20px; }
  .footer-container__socials {
    height: 20px;
    width: 20px;
    margin-top: 20px;
    margin-right: 15px; }
  .footer-container__li {
    color: white;
    font-size: 1rem;
    padding: 8px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.2rem; }
  .footer-container__li:hover {
    color: #82191E; }
  .footer-container__button {
    border: 1px solid white;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    background: #212123;
    padding: 1.4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 1rem;
    cursor: pointer; }

@media (max-width: 600px) {
  .footer-container {
    height: 40rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
    padding-top: 2rem; }
    .footer-container__logo-img {
      height: 4rem;
      margin-bottom: 2rem; }
    .footer-container__row1 {
      display: flex;
      flex-direction: column; }
    .footer-container__row3 {
      display: none; }
    .footer-container__socials {
      display: none; }
    .footer-container__li {
      font-size: 1.2rem;
      padding: 8px;
      text-align: center;
      padding-bottom: 1.4rem; } }
@media (min-width: 601px) and (max-width: 1023px) {
  .footer-container__row3 {
    display: none; } }
.contact-heading {
  height: 15rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .contact-heading--h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 3.2rem;
    letter-spacing: 0.6rem;
    text-align: center; }
  .contact-heading hr {
    width: 8rem;
    height: 4px;
    border: none;
    background: black;
    margin-top: 2rem; }

.contact-container {
  height: 59rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 8rem; }
  .contact-container__left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20%; }
    .contact-container__left--heading {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: bold;
      font-size: 2.8rem;
      letter-spacing: 0.4rem;
      padding-top: 0.9rem; }
    .contact-container__left--subHeading {
      font-family: 'work Sans', sans-serif;
      font-weight: 500;
      font-size: 1.4rem;
      letter-spacing: 0.15rem;
      padding-left: 6.2rem; }
  .contact-container__leftMobile {
    padding-top: 10%;
    margin-bottom: 7%; }
    .contact-container__leftMobile--topRow {
      display: flex; }
      .contact-container__leftMobile--topRow--img {
        height: 30px;
        padding-right: 35px; }
      .contact-container__leftMobile--topRow--img2 {
        height: 60px;
        padding-right: 30px;
        padding-bottom: 15px; }
      .contact-container__leftMobile--topRow--img3 {
        height: 60px;
        padding-right: 30px;
        padding-bottom: 15px; }
  .contact-container__leftEmail {
    padding-top: 7%;
    margin-bottom: 14%; }
    .contact-container__leftEmail--topRow {
      display: flex; }
  .contact-container__right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 4%; }
    .contact-container__right--bttn {
      padding: 10px 30px;
      background: none;
      border: solid;
      border-radius: 2px;
      cursor: pointer;
      border: 1.6px solid black; }
    .contact-container__right--bttn:hover {
      color: white;
      background: black; }
    .contact-container__right--formContainer {
      height: 100%;
      width: 50vw;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding-left: 20%; }
      .contact-container__right--formContainer label {
        font-size: 1.4rem;
        font-family: 'Work Sans', sans-serif;
        font-weight: bold;
        letter-spacing: 0.1rem; }
      .contact-container__right--formContainer input[type=text], .contact-container__right--formContainer select, .contact-container__right--formContainer textarea {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
        padding: 12px;
        border: 1.2px solid black;
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 20px;
        resize: vertical; }
      .contact-container__right--formContainer .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        padding-left: 40px;
        margin-left: 40px; }

@media (max-width: 600px) {
  .contact-heading--h1 {
    font-size: 2.6rem;
    letter-spacing: 0.4rem;
    padding: 2%; }

  .contact-container {
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap-reverse;
    margin-top: 0rem;
    margin-bottom: 5rem; }
    .contact-container__left {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding-left: 18%;
      margin-top: 2rem; }
    .contact-container__right {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column; }
      .contact-container__right--formContainer {
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 23%; } }
@media (min-width: 601px) and (max-width: 1023px) {
  .contact-heading--h1 {
    font-size: 2.8rem;
    letter-spacing: 0.4rem; }

  .contact-container {
    height: 115rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap-reverse;
    margin-top: 0rem;
    margin-bottom: 7rem; }
    .contact-container__left {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding-left: 23%;
      margin-top: 2rem; }
    .contact-container__right {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column; }
      .contact-container__right--formContainer {
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 23%; } }
.project-heading {
  height: 15rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .project-heading--h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 3.2rem;
    letter-spacing: 0.6rem;
    text-align: center; }
  .project-heading hr {
    width: 8rem;
    height: 4px;
    border: none;
    background: black;
    margin-top: 2rem; }

.project-container {
  height: 25rem;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 7%;
  padding-right: 7%; }
  .project-container__left {
    height: 100%;
    width: 40rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background: url(../img/house3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .project-container__left--box {
      height: 7.4rem;
      width: 85%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      background: #838383;
      color: white;
      margin-bottom: 1rem;
      padding-left: 1rem; }
    .project-container__left--h1 {
      font-size: 2rem;
      letter-spacing: 0.2rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: bold;
      padding-bottom: 1rem; }
    .project-container__left--p {
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: bold; }
  .project-container__right {
    height: 100%;
    width: 40rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background: url(../img/house5.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .project-container__right--box {
      height: 7.4rem;
      width: 85%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      background: #838383;
      color: white;
      margin-bottom: 1rem;
      padding-left: 1rem; }
    .project-container__right--h1 {
      font-size: 2rem;
      letter-spacing: 0.2rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: bold;
      padding-bottom: 1rem; }
    .project-container__right--p {
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: bold; }

.project-container2 {
  height: 25rem;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 7%;
  padding-right: 7%;
  margin-top: 4rem; }
  .project-container2__left2 {
    height: 100%;
    width: 40rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background: url(../img/house1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .project-container2__left2--box {
      height: 7.4rem;
      width: 85%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      background: #838383;
      color: white;
      margin-bottom: 1rem;
      padding-left: 1rem; }
    .project-container2__left2--h1 {
      font-size: 2rem;
      letter-spacing: 0.2rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: bold;
      padding-bottom: 1rem; }
    .project-container2__left2--p {
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: bold; }
  .project-container2__right2 {
    height: 100%;
    width: 40rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background: url(../img/house4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .project-container2__right2--box {
      height: 7.4rem;
      width: 85%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      background: #838383;
      color: white;
      margin-bottom: 1rem;
      padding-left: 1rem; }
    .project-container2__right2--h1 {
      font-size: 2rem;
      letter-spacing: 0.2rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: bold;
      padding-bottom: 1rem; }
    .project-container2__right2--p {
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: bold; }

.project-container3 {
  height: 25rem;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 7%;
  padding-right: 7%;
  margin-top: 4rem;
  margin-bottom: 4rem; }
  .project-container3__left3 {
    height: 100%;
    width: 40rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background: url(../img/house2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .project-container3__left3--box {
      height: 7.4rem;
      width: 85%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      background: #838383;
      color: white;
      margin-bottom: 1rem;
      padding-left: 1rem; }
    .project-container3__left3--h1 {
      font-size: 2rem;
      letter-spacing: 0.2rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: bold;
      padding-bottom: 1rem; }
    .project-container3__left3--p {
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: bold; }
  .project-container3__right3 {
    height: 100%;
    width: 40rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background: url(../img/newhouseaddition.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .project-container3__right3--box {
      height: 7.4rem;
      width: 85%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      background: #838383;
      color: white;
      margin-bottom: 1rem;
      padding-left: 1rem; }
    .project-container3__right3--h1 {
      font-size: 2rem;
      letter-spacing: 0.2rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: bold;
      padding-bottom: 1rem; }
    .project-container3__right3--p {
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: bold; }

@media (max-width: 600px) {
  .project-heading--h1 {
    font-size: 2.6rem;
    letter-spacing: 0.4rem;
    padding: 2%; }

  .project-container {
    height: 60vh;
    width: 100vw;
    padding-left: 1%;
    padding-right: 1%; }
    .project-container__left {
      width: 95%;
      height: 50%;
      margin-bottom: 2rem; }
      .project-container__left--box {
        width: 78%; }
    .project-container__right {
      width: 95%;
      height: 50%; }
      .project-container__right--box {
        width: 78%; }

  .project-container2 {
    height: 60vh;
    width: 100vw;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 4rem; }
    .project-container2__left2 {
      width: 95%;
      height: 50%;
      margin-bottom: 2rem; }
      .project-container2__left2--box {
        width: 78%; }
    .project-container2__right2 {
      width: 95%;
      height: 50%; }
      .project-container2__right2--box {
        width: 78%; }

  .project-container3 {
    height: 60vh;
    width: 100vw;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 4rem; }
    .project-container3__left3 {
      width: 95%;
      height: 50%;
      margin-bottom: 2rem; }
      .project-container3__left3--box {
        width: 78%; }
    .project-container3__right3 {
      width: 95%;
      height: 50%; }
      .project-container3__right3--box {
        width: 78%; } }
@media (min-width: 601px) and (max-width: 1023px) {
  .project-heading--h1 {
    font-size: 2.8rem;
    letter-spacing: 0.4rem; }

  .project-container {
    padding-left: 2%;
    padding-right: 2%; }
    .project-container__left {
      width: 45%; }
      .project-container__left--box {
        width: 100%;
        margin-bottom: 0rem; }
      .project-container__left--h1 {
        font-size: 1.8rem; }
    .project-container__right {
      width: 45%; }
      .project-container__right--box {
        width: 100%;
        margin-bottom: 0rem; }
      .project-container__right--h1 {
        font-size: 1.8rem; }

  .project-container2 {
    padding-left: 2%;
    padding-right: 2%; }
    .project-container2__left2 {
      width: 45%; }
      .project-container2__left2--box {
        width: 100%;
        margin-bottom: 0rem; }
      .project-container2__left2--h1 {
        font-size: 1.8rem; }
    .project-container2__right2 {
      width: 45%; }
      .project-container2__right2--box {
        width: 100%;
        margin-bottom: 0rem; }
      .project-container2__right2--h1 {
        font-size: 1.8rem; }

  .project-container3 {
    padding-left: 2%;
    padding-right: 2%; }
    .project-container3__left3 {
      width: 45%; }
      .project-container3__left3--box {
        width: 100%;
        margin-bottom: 0rem; }
      .project-container3__left3--h1 {
        font-size: 1.8rem; }
    .project-container3__right3 {
      width: 45%; }
      .project-container3__right3--box {
        width: 100%;
        margin-bottom: 0rem; }
      .project-container3__right3--h1 {
        font-size: 1.8rem; } }
.projectAddOn-heading {
  height: 15rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .projectAddOn-heading--h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 3.2rem;
    letter-spacing: 0.6rem;
    text-align: center; }
  .projectAddOn-heading hr {
    width: 8rem;
    height: 4px;
    border: none;
    background: black;
    margin-top: 2rem; }

.projectAddOn-container {
  height: 100rem;
  width: 100vw;
  display: flex;
  margin-bottom: 5rem; }
  .projectAddOn-container__left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-left: 8rem; }
    .projectAddOn-container__left--img {
      height: 28rem;
      width: 46rem; }
  .projectAddOn-container__right {
    height: 34rem;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10rem; }
    .projectAddOn-container__right--h1 {
      font-family: 'Work Sans', sans-serif;
      font-weight: 600;
      font-size: 2.4rem;
      letter-spacing: 0.2rem; }
    .projectAddOn-container__right--p {
      max-width: 59ch;
      font-family: 'Work Sans', sans-serif;
      font-weight: 500;
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
      padding-right: 1rem; }
    .projectAddOn-container__right--button {
      padding: 1rem;
      font-family: 'Work Sans', sans-serif;
      font-weight: 500;
      font-size: 1.4rem;
      letter-spacing: 0.2rem;
      background: white;
      border-radius: 5%;
      cursor: pointer; }

@media (max-width: 600px) {
  .projectAddOn-heading--h1 {
    font-size: 2.6rem;
    letter-spacing: 0.4rem;
    padding: 2%; }

  .projectAddOn-container {
    height: 120rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem; }
    .projectAddOn-container__left {
      height: 80%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      padding-left: 0rem; }
      .projectAddOn-container__left--img {
        height: 25rem;
        width: 38rem; }
    .projectAddOn-container__right {
      height: 20%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: 0%;
      margin-top: 0rem;
      padding-top: 0%;
      position: relative;
      text-align: center;
      padding-left: 0rem; } }
@media (min-width: 601px) and (max-width: 1023px) {
  .projectAddOn-heading--h1 {
    font-size: 2.8rem;
    letter-spacing: 0.4rem; }

  .projectAddOn-container {
    height: 120rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem; }
    .projectAddOn-container__left {
      height: 80%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      padding-left: 0rem; }
      .projectAddOn-container__left--img {
        height: 25rem;
        width: 38rem; }
    .projectAddOn-container__right {
      height: 20%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: 0%;
      margin-top: 0rem;
      padding-top: 0%;
      position: relative;
      text-align: center;
      padding-left: 0rem; } }
.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none; }

.modal-container.show {
  opacity: 1;
  pointer-events: auto; }

.contactModal-body {
  background-color: white;
  height: 35rem;
  width: 48rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  max-width: 100%; }
  .contactModal-body--h2 {
    font-size: 2rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    padding-bottom: 2rem;
    text-align: center;
    max-width: 30ch; }
  .contactModal-body--img {
    height: 10rem;
    padding-bottom: 2rem; }
  .contactModal-body--p {
    font-size: 1.6rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #82191E;
    text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
