@import "var";

.aboutPage-container{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutPage__right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutPage__right--img{
    height: 80%;
    padding: 2rem;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutPage__left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10%;

    &--heading{
        font-size: 3.4rem;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        color: #82191E;
        letter-spacing: 0.4rem;
        padding-bottom: 2.8rem;
        max-width: 30ch;

    }

    &--subHeading{
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        font-size: 2rem;
        letter-spacing: 0.2rem;
        max-width: 42ch;
        padding-bottom: 2.8rem;
    }

    &--text{
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        max-width: 60ch;
    }
}




// Media Quuries








// Mobile

@media #{$mobile}{

        .aboutPage-container{
            width: 100vw;
            height: 70vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        
        .aboutPage__right{
            width: 100%;
            height: 45%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 1rem;
        }
        
        .aboutPage__right--img{
            height: 80%;
            padding-bottom: 0rem;
            padding-right: 0%;
            padding: 0%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .aboutPage__left{
            width: 100%;
            height: 55%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-left: 0%;
            padding-top: 1rem;
        
            &--heading{
                font-size: 3.2rem;
                letter-spacing: 0.4rem;
                padding-bottom: 2.8rem;
                max-width: 24ch;
                text-align: center;
        
            }
        
            &--subHeading{
                font-size: 1.8rem;
                text-align: center;
            }
        
            &--text{
                font-size: 1.3rem;
                text-align: center;
                max-width: 50ch;
            }
        }
        
    }







// Tablet
 
@media #{$tablet}{

    .aboutPage-container{
        width: 100vw;
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .aboutPage__right{
        width: 100%;
        height: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
    }
    
    .aboutPage__right--img{
        height: 90%;
        padding: 2rem;
        padding-right: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .aboutPage__left{
        width: 100%;
        height: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 0%;
        padding-top: 1rem;
    
        &--heading{
            font-size: 3.2rem;
            letter-spacing: 0.4rem;
            padding-bottom: 2.8rem;
            max-width: 24ch;
            text-align: center;
    
        }
    
        &--subHeading{
            font-size: 1.8rem;
            text-align: center;
        }
    
        &--text{
            font-size: 1.3rem;
            text-align: center;
        }
    }


}

