@import "var";

.aboutPageSecond-container{
    height: 45rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutPageSecond__left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutPageSecond__left--img{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutPageSecond__right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 1rem;

    &--heading{
        font-size: 3.4rem;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        color: #82191E;
        padding-bottom: 2.8rem;
        letter-spacing: 0.4rem;
    }

    &--subHeading{
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
        max-width: 42ch;
        padding-bottom: 2.8rem;
    }

    &--text{
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        padding-bottom: 2.8rem;
        letter-spacing: 0.2rem;
        max-width: 56ch;
    }

    &--h3{
        font-size: 1.5rem;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: normal;
        padding-bottom: 1.5rem;
        letter-spacing: 0.1rem;
    }

    &--iconRow{
        display: flex;
        padding-left: 22px;
    }

    &--icons{
        height: 25px;
        padding-right: 22px;
    }
}




@media #{$mobile}{

    .aboutPageSecond-container{
        // display: none;
        height: 60rem;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aboutPageSecond__left{
        display: none;
    }

    .aboutPageSecond__right{
        padding-left: 0rem;
    
        &--heading{
            font-size: 3.2rem;
            text-align: center;
            max-width: none;
        }
    
        &--subHeading{
            font-size: 1.8rem;
            letter-spacing: 0.2rem;
            max-width: none;
            // padding-bottom: 2.8rem;
            text-align: center;
        }
    
        &--text{
            font-family: 'Work Sans', sans-serif;
            font-weight: 400;
            font-size: 1.5rem;
            padding-bottom: 2.8rem;
            letter-spacing: 0.2rem;
            max-width: none;
            text-align: center;
        }



    
        &--h3{
            font-size: 1.5rem;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: normal;
            padding-bottom: 1.5rem;
            letter-spacing: 0.1rem;
            text-align: center;
            padding-left: 27%;
        }
    
        &--iconRow{
            display: flex;
            padding-left: 37%;
        }
    
        &--icons{
            height: 25px;
            padding-right: 22px;
        }




    }
    
}






 
@media #{$tablet}{

    .aboutPageSecond-container{
        height: 32rem;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
    }
    
    .aboutPageSecond__left{
        display: none;
    }
    
    .aboutPageSecond__right{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 100%;
        padding-left: 0rem;
    
        &--heading{
            font-size: 3.4rem;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 700;
            color: #CF2730;
            padding-bottom: 2.8rem;
            letter-spacing: 0.4rem;
        }
    
        &--subHeading{
            font-family: 'Work Sans', sans-serif;
            font-weight: 600;
            font-size: 1.8rem;
            letter-spacing: 0.2rem;
            max-width: 50ch;
            padding-bottom: 2.8rem;
            text-align: center;
        }
    
        &--text{
            font-family: 'Work Sans', sans-serif;
            font-weight: 400;
            font-size: 1.5rem;
            padding-bottom: 2.8rem;
            letter-spacing: 0.2rem;
            max-width: 56ch;
            text-align: center;
        }
    
        &--h3{
            display: none;
        }
    
        &--iconRow{
            display: none;
        }
    }



}