@import "var";

.contact-heading{
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid pink;

    &--h1{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        font-size: 4rem;
        letter-spacing: 0.6rem;
    }

    hr{
        width: 8%;
        height: 4px;
        border: none;
        background: black;
        margin-top: 1.5%;
    }
}

.contact-container{
    height: 80%;
    width: 100%;
    display: flex;

    &__heading{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__left{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 20%;
        margin-top: 2%;
        
        
    &--heading{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        font-size: 3rem;
        letter-spacing: 0.4rem;
        padding-top: 8px;
        }

    &--subHeading{
        font-family: 'work Sans', sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
        letter-spacing: 0.15rem;
        padding-left: 64px;
        }
    }
    
    &__leftMobile{

        padding-top: 10%;
        margin-bottom: 7%;

        &--topRow{
            display: flex;
        
        &--img{
            height: 30px;
            padding-right: 35px;
              
        }
        &--img2{
            height: 60px;
            padding-right: 30px;
            padding-bottom: 15px;
        }
        &--img3{
            height: 60px;
            padding-right: 30px;
            padding-bottom: 15px;
        }
    }
}

    &__leftEmail{
        padding-top: 7%;
        margin-bottom: 14%;

        &--topRow{
            display: flex;
        }
}

    &__right{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;

        &--formContainer{
            height: 100%;
            width: 80%;
            margin-left: 20%;
            padding-top: 8%;

            label{
                font-size: 1.5rem;
                font-family: 'Work Sans', sans-serif;
                font-weight: bold;
                margin-bottom: 10px;
            }

            input[type=text], select, textarea {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 70%; 
                padding: 12px; 
                border: 2px solid black; 
                box-sizing: border-box; 
                margin-top: 10px; 
                margin-bottom: 16px; 
                resize: vertical; 
              }
              
              input[type=submit] {
                padding: 10px 30px;
                background: white;
                border: solid;
                border-radius: 2px;
                cursor: pointer;
              }
              
              input[type=submit]:hover {
                color: white;
                background: black;
              }
              
              .container {
                border-radius: 5px;
                background-color: #f2f2f2;
                padding: 20px;
                padding-left: 40px;
                margin-left: 40px;
              }
        }
    }
}

@media #{$mobile}{  

    .navBar-master{
        width: 100%;
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        &__quote{
            display: none;
        }
    
        &__img{
            height: 35px;
            padding-left: 2%;
        }

        &__hamburg{
            display: block;
        }
    
        &__hr{
            display: none;
        }
    
        &__li{
            display: none;
        }
    
        &__liActive{
            display: none;
        }
    }
    
    .contact-container{
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    
        &__heading{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        &__left{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            padding-left: 18%;
            margin-bottom: 10%;
            margin-top: 0;

            &--subHeading{
                font-family: 'work Sans', sans-serif;
                font-weight: 500;
                font-size: 1.6rem;
                letter-spacing: 0.15rem;
                padding-left: 64px;
                }
        }

        &__right{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-direction: column;
            margin-bottom: 27%;

            &--formContainer{
                height: 100%;
                width: 100%;
                margin-left: 20%;
                padding-top: 8%;
                
            }
        }
    }
}

 
@media #{$tablet}{   

    .navBar-master{
        width: 100%;
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        &__quote{
            list-style-position:inside;
            border: 2px solid white;
            margin-left: 3rem;
            letter-spacing: 0.2rem;
            font-size: 14px;
            font-family: 'Work Sans', sans-serif;
            margin-top: 10px;
            padding: 15px;
        }
    
        &__img{
            height: 25px;
        }
    
        &__hr{
            color: white;
            margin-top: 5px;
        }
    
        &__li{
            padding: 30px;
            padding-left: 20px;
            padding-right: 20px;
            color: white;
            font-size: 14px;
            font-family: 'Work Sans', sans-serif;
            font-weight: bold;
        }
    
        &__liActive{
            padding: 30px;
            padding-left: 20px;
            padding-right: 20px;
            color: #CF2730;
            font-size: 14px;
            font-family: 'Work Sans', sans-serif;
            font-weight: bold;
        }
    }



    .contact-container{
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    
        &__heading{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        &__left{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            padding-left: 20%;
            padding-top: 34px;
            padding-bottom: 40px;
        }

        &__right{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-bottom: 20px;
        }
    }


}