@import "var";

.footer-container{
    height: 20rem;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: #212123;

    &__logo-img{
        height: 5rem;
    }

    &__button{
        border-style: solid;
        color: white;
        background: black;
    }

    &__p{
        color: white;
        font-size: 1.1rem;
        letter-spacing: 0.1rem;
        padding-bottom: 2px;
        font-family: 'Work Sans', sans-serif;
    }

    &__h1{
        color: white;
        font-size: 1.6rem;
        letter-spacing: 0.2rem;
        font-weight: normal;
        font-family: 'Work Sans', sans-serif;
    }

    &__row1{
        display: flex;
        flex-direction: column;
    }

    &__row3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--top{
            padding-bottom: 20px;
        }
    }

    &__socials{
        height: 20px;
        width: 20px;
        margin-top: 20px;
        margin-right: 15px;
    }

    &__li{
        color: white;
        font-size: 1rem;
        padding: 8px;
        font-family: 'Josefin Sans', sans-serif;
        letter-spacing: 0.2rem;
    }

    &__li:hover{
        color: #82191E;
    }

    &__button{
        border: 1px solid white;
        color: white;
        font-size: 1rem;
        letter-spacing: 0.2rem;
        background: #212123;
        padding: 1.4rem;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 1rem;
        cursor: pointer;
    }
}






@media #{$mobile}{

    .footer-container{
        height: 40rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column-reverse;
        padding-top: 2rem;

        &__logo-img{
            height: 4rem;
            margin-bottom: 2rem;
        }

        &__row1{
            display: flex;
            flex-direction: column;
        }
    
        &__row3{
            display: none;
        }
    
        &__socials{
            display: none;
        }
    
        &__li{
            font-size: 1.2rem;
            padding: 8px;
            text-align: center;
            padding-bottom: 1.4rem;
        }
    }
}

 





@media #{$tablet}{

    .footer-container{
        
        &__row3{
            display: none;
        }
    }
}