@import "var";

.homePage-master{
    height: 96vh;
    width: 100vw;

    &__img{
        height: 3rem;
    }

    &__hamburg{
        height: 25px;
        margin-top: 1%;
        margin-right: 3%;
        display: none;
    }

    &__bottom{
        height: 81vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 13%;

        &--h1{
            justify-content: flex-start;
            align-items: center;
            color: white;
            font-size: 5.2rem;
            letter-spacing: 0.8rem;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 700;
            line-height: 5.2rem;
            padding-bottom: 3rem;
        }

        &--p{
            color: white;
            font-size: 2rem;
            letter-spacing: 0.2rem;
            max-width: 62ch;
            font-family: 'Work Sans', sans-serif;
            font-weight: 500;
            line-height: 2.8rem;
            padding-bottom: 3rem;
        }


        &--started{
            list-style-position: inside;
            border: 2px solid white;
            padding: 1.5rem;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            color: white;
            font-size: 1.4rem;
            letter-spacing: 0.4rem;
            background: none;
            cursor: pointer;
            
        }
    }

    &__quote{
        border: 2px solid white;
        margin-left: 3rem;
        margin-top: 0.2rem;
        letter-spacing: 0.2rem;
        font-size: 1.2rem;
        font-family: 'Work Sans', sans-serif;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        color: white;
    }

    &__active{
        color: white;
    }

    &__hr{
        color: white;
        margin-top: 5px;
    }

    &__nav li:hover{
        opacity: 70%;
    }

    &__quote:hover{
        opacity: 100%;
    }
}

.homePage-container{
    height: 100%;
    width: 100%;
    background: url(../img/landing.jpg);
    background-color: lightslategrey;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 90%;
}








// Meida Queries


// Mobile

@media #{$mobile}{
             
}

 



// Tablet


@media #{$tablet}{

    .homePage-master{
        height: 96vh;
        width: 100vw;
    
        &__img{
            height: 3rem;
        }
    
        &__bottom{
            height: 81vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-left: 0%;
            padding-bottom: 4rem;
    
            &--h1{
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 3rem;
                text-align: center;
                letter-spacing: 0.8rem;
                line-height: 4rem;
                padding-bottom: 7rem;
            }
    
            &--p{
                display: none;
            }
    
    
            &--started{
                list-style-position: inside;
                border: 2px solid white;
                padding: 3rem;
                padding-right: 1.5rem;
                padding-left: 1.5rem;
                color: white;
                font-size: 1.4rem;
                letter-spacing: 0.4rem;
                margin-top: 2rem;   
            }
        }
    
        &__quote{
            border: 2px solid white;
            margin-left: 3rem;
            margin-top: 0.6rem;
            letter-spacing: 0.2rem;
            font-size: 1.2rem;
            font-family: 'Work Sans', sans-serif;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    
        &__active{
            color: white;
        }
    
        &__hr{
            color: white;
            margin-top: 5px;
        }
    
        &__nav li:hover{
            opacity: 70%;
        }
    
        &__quote:hover{
            opacity: 100%;
        }
    }
}