@import "var";


.header{
    height: 4vh;
    width: 100vw;
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5rem;

    &__items{
    display: flex;
    padding-right: 5rem;

    &--img{
        height: 1.6rem;
        margin-top: 0.9rem;
    }
    
    &--p{
    font-size: 1.1rem;
    padding: 1rem;
    letter-spacing: 0.2rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #545454;
    }
}

   &__items2{
    display: flex;


    &--img{
        height: 1.6rem;
        margin-top: 0.8rem;
    }
    
    &--p{
    font-size: 1.1rem;
    padding: 1rem;
    letter-spacing: 0.2rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #545454;
    }
   }
}



// Navigation

.navBar{
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 6%;
    padding-right: 4%;
}

.navBar--ul{
    list-style-type: none;
    display: flex;
}

.navBar--li{
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    font-size: 1.4rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.navBar--projects{
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 6%;
    padding-right: 4%;
    background: url(../img/8209158541_4a6fa1d66b_b.jpg);
    background-color: darkgrey;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 80%;
}




@media #{$mobile}{   

 }

  
@media #{$tablet}{  
    
    .navBar--ul{
        display: none;
    }

}
