@import "var";


.header{
    width: 100%;
    height: 3vh;
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;

    &__items{
    display: flex;
    padding-right: 5rem;

    &--img{
        height: 1.8rem;
        margin-top: 0.7rem;
    }
    
    &--p{
    padding: 1rem;
    letter-spacing: 0.2rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #545454;
    }
}

   &__items2{
    display: flex;
    padding-right: 10rem;


    &--img{
        height: 1.8rem;
        margin-top: 0.7rem;
    }
    
    &--p{
    padding: 1rem;
    letter-spacing: 0.2rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #545454;
    }
   }
}

nav{
    height: 12vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%
}

nav ul{
    list-style-type: none;
    display: flex;
}

ul li{
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}




@media #{$mobile}{   

    nav{
    }
    
    nav ul{
        display: none;
    }
    
    ul li{
        padding: 20px;
        padding-left: 25px;
        padding-right: 25px;
        color: white;
        font-size: 18px;
        font-family: 'Work Sans', sans-serif;
        font-weight: bold;
    }

    .header{
        width: 100%;
        height: 3vh;
        background: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding:0;
    
        &__items{
        display: flex;
        padding-right: 5rem;
    
        &--img{
            height: 1.8rem;
            margin-top: 0.7rem;
        }
        
        &--p{
        padding: 1rem;
        letter-spacing: 0.2rem;
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        color: #545454;
        }
    }
    
       &__items2{
        display: flex;
        padding-right: 2rem;
    
    
        &--img{
            height: 1.8rem;
            margin-top: 0.7rem;
        }
        
        &--p{
        padding: 1rem;
        letter-spacing: 0.2rem;
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        color: #545454;
        }
       }
    }
 }

  
@media #{$tablet}{   
    ul li{
        padding: 30px;
        padding-left: 20px;
        padding-right: 20px;
        color: white;
        font-size: 14px;
        font-family: 'Work Sans', sans-serif;
        font-weight: bold;
    }
}

@media #{$desktop}{
}