@import "var";


.projectAddOn-heading{
    height: 15rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

 &--h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 3.2rem;
    letter-spacing: 0.6rem;
    text-align: center;
   }

    hr{
        width: 8rem;
        height: 4px;
        border: none;
        background: black;
        margin-top: 2rem;
    }
}


.projectAddOn-container{
    height: 100rem;
    width: 100vw;
    display: flex;
    margin-bottom: 5rem;

    &__left{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding-left: 8rem;

        &--img{
            height: 28rem;
            width: 46rem;
        }
    }

    &__right{
        height: 34rem;
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 10rem;

        &--h1{
            font-family: 'Work Sans', sans-serif;
            font-weight: 600;
            font-size: 2.4rem;
            letter-spacing: 0.2rem;
        }

        &--p{
            max-width: 59ch;
            font-family: 'Work Sans', sans-serif;
            font-weight: 500;
            font-size: 1.4rem;
            letter-spacing: 0.1rem;
            padding-top: 4rem;
            padding-bottom: 4rem;
            padding-right: 1rem;
        }

        &--button{
            padding: 1rem;
            font-family: 'Work Sans', sans-serif;
            font-weight: 500;
            font-size: 1.4rem;
            letter-spacing: 0.2rem;
            background: white;
            border-radius: 5%;
            cursor: pointer;
        }
    }
}




@media #{$mobile}{

    .projectAddOn-heading{

        &--h1{
            font-size: 2.6rem;
            letter-spacing: 0.4rem;
            padding: 2%;
        }
    }

    .projectAddOn-container{
        height: 120rem;
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;
    
        &__left{
            display: none;
            height: 70%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            padding-left: 0rem;
    
            &--img{
                height: 22rem;
                width: 34rem;
            }
        }
    
        &__right{
            height: 30%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;  
            margin-left: 0%;
            margin-top: 0rem;
            padding-top: 0%;
            position: relative;
            text-align: center;
            padding-left: 0rem;

            &--p{
                padding: 3rem;
            }
        }
    }
}

 
@media #{$tablet}{

    .projectAddOn-heading{
    
     &--h1{
        font-size: 2.8rem;
        letter-spacing: 0.4rem;
       }
    }
    
    
    .projectAddOn-container{
        height: 120rem;
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;
    
        &__left{
            height: 80%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            padding-left: 0rem;
            
            &--img{
                height: 25rem;
                width: 38rem;
            }
        }
    
        &__right{
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;  
            margin-left: 0%;
            margin-top: 0rem;
            padding-top: 0%;
            position: relative;
            text-align: center;
            padding-left: 0rem;
        }
    }
}



