@import "var";


.servicePage-container{
    height: 70rem;
    width: 100vw;
    display: flex;
    background: url(../img/pratt-city-ala-september-13-2011-a-crane-lifts-the-trusses-for-frank-hardys-4ef4f4-1600.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--left{
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        padding-left: 4rem;

        &__ul{
            padding-top: 4rem;
        }

        &__ul--li1{
            height: 5rem;
            width: 37rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;
            text-align: center;
            background: #82191E;
            letter-spacing: 0.2rem;
            font-family: 'Work Sans', sans-serif;
            font-size: 1.4rem;
            margin-bottom: 0.6rem;
        }

        &__ul--li{
            height: 5rem;
            width: 37rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;
            text-align: center;
            background: #212123;
            letter-spacing: 0.2rem;
            font-family: 'Work Sans', sans-serif;
            font-size: 1.4rem;
            margin-bottom: 0.6rem;
        }
    }

    hr{
        margin-left: 7rem;
        width: 50%;
    }

    &--right{
        height: 100%;
        width: 60%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 6rem;

        &__h1Container{
            height: 7rem;
            width: 80%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background: #82191E;
            margin-left: 8.2rem;
    
            &--h1{
                color: white;
                font-size: 2.6rem;
                letter-spacing: 0.6rem;
                padding: 2%;
                font-family: 'Josefin Sans', sans-serif;
            }
        }

        &__pContainer{
            height: 10rem;
            width: 80%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background: #212123;
            margin-left: 8.2rem;
            
            &--p{
                color: white;
                font-size: 1.3rem;
                letter-spacing: 0.2rem;
                text-align: right;
                padding: 2%;
                font-family: 'Work Sans', sans-serif;
            }
        }
    }
}



@media #{$mobile}{   

    .servicePage-container{
        display: none;
    }
}

 
@media #{$tablet}{

    .servicePage-container{
        height: 62rem;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
    
        &--left{
            height: 50%;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 2rem;
            padding-top: 2rem;
    
            &__ul{
                padding-top: 0rem;
            }
    
            &__ul--li1{
                height: 4rem;
                width: 30rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: white;
                text-align: center;
                background: #82191E;
                letter-spacing: 0.2rem;
                font-family: 'Work Sans', sans-serif;
                font-size: 1.4rem;
                margin-bottom: 0.6rem;
            }
    
            &__ul--li{
                height: 4rem;
                width: 30rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: white;
                text-align: center;
                background: #212123;
                letter-spacing: 0.2rem;
                font-family: 'Work Sans', sans-serif;
                font-size: 1.4rem;
                margin-bottom: 0.6rem;
            }
        }
    
    
        &--right{
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            padding-bottom: 4rem;
    
            &__h1Container{
                height: 7rem;
                width: 82%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                background: #82191E;
                margin-left: 0rem;
        
                &--h1{
                    color: white;
                    font-size: 2.6rem;
                    letter-spacing: 0.6rem;
                    padding: 2%;
                    font-family: 'Josefin Sans', sans-serif;
                    text-align: right;
                }
            }
    
            &__pContainer{
                height: 13rem;
                width: 82%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                background: #212123;
                margin-left: 0rem;
                
                &--p{
                    color: white;
                    font-size: 1.3rem;
                    letter-spacing: 0.2rem;
                    text-align: right;
                    padding: 2%;
                    font-family: 'Work Sans', sans-serif;
                }
            }
        }
    }

}  
    
