// $mobile: "(max-width:600px)" !default;
// $tablet: "(min-width:601px) and (max-width: 1023px)" !default;
// $desktop: "(min-width: 1024px)" !default;
$mobile: "(max-width:820px)" !default;
$tablet: "(min-width:821px) and (max-width: 1074px)" !default;
$index: "(min-width:1074px) and (max-width: 1150px)" !default;
$desktop: "(min-width: 1151px)" !default;

$main-background: rgb(255, 77, 0);
$text-size: 1.5rem;